@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #007bff;
  --color-background: hsl(221, 39%, 11%);
  --color-text: #fff;
  transition: all 0.5s ease, color 0.5s ease;
}

.dark {
  --color-primary: #f5fad1;
  --color-background: #1a1a1a;
  --color-text: #ddeeaa;
}

/* Ensure Tailwind applies the theme variables */
.bg-background {
  background-color: var(--color-background);
}
.bg-primary {
  background-color: var(--color-text);
}

.text-text {
  color: var(--color-text);
}

body * {
  @apply transition-all duration-100;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition-all duration-300;
  }
  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}
